body {
  display: grid;
}

ul  {
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.person-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.person-info h1 {
  font-weight: bold;
}

.person-info h2 {
  font-weight: 100;
}

.social-media {
  text-align: center;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-me {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: space-evenly;
}

.about-me .img {}

.about-me .content {}

.opportunities h2 {
  text-align: center;
}

.opportunities h3 {
  text-align: center;
}

.opportunities .experiences .companies {
  justify-content: space-around;
  display: flex;
}


.opportunities .academic .colleges {
  justify-content: center;
  display: flex;
}

footer .contacts {}