* {
  color: #3F3D56
}

body {
  display: grid;
  background-color: #fcfbfb;
}

ul {
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin: 0 3%;
  font-family: "Poppins", Helvetica, sans-serif;
  margin: 0 10%;
}

.container header img {
  box-shadow: -5px 5px #3F3D56;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F7B64D;
  border-radius: 0px 0px 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;
}

.container header {
  min-height: calc(100vh - 8px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.container header .text-hello {
  width: 60%;
}

.container header .text-hello p {
  margin: 0;
}

.container header .text-hello .hello {
  font-size: 3.5em;
  color: #F7B64D;
}

.container header .text-hello .welcome {
  font-size: 1.5em;
}

.container header .name h1 {
  font-weight: 600;
  font-size: 5em;
  margin: 0;
  letter-spacing: 5px;
  line-height: 85px;
}

.container header .name h2 {
  font-weight: 200;
  margin: 20px 0 0 0;
}

.container header .follow-me {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.container header .follow-me span {
  font-size: 1.2em;
}

.container header .follow-me svg {
  fill: #3F3D56;
}

.container header .follow-me .social-media {
  margin-left: 15px;
}

.container .about-me {
  min-height: 100vh;
}

.container .about-me h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.container .about-me .content {
  display: flex;
  justify-content: space-between;
  ;
  flex-direction: row;
  border-top: 2px solid #F7B64D;
  border-bottom: 2px solid #F7B64D;
  border-radius: 15px;
}

.container .about-me .content .image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .about-me .content .image img {
  max-width: 200px;
  max-height: 170px;
  width: auto;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
}

.container .about-me .content .text {
  width: 70%;
  padding: 10px 30px;
  text-align: justify;
}

.container .opportunities {
  min-height: calc(100vh - 8px);
}

.container .opportunities h2 {
  text-align: center;
}

.container .opportunities h3 {
  text-align: center;
}

.container .opportunities .experiences .companies {
  justify-content: space-around;
  display: flex;
}


.container .opportunities .academic .colleges {
  justify-content: center;
  display: flex;
}

.container footer .contacts {}

@media (max-width: 700px) {
  .container .about-me .content {
    flex-direction: column;
  }

  .container .about-me .content .image {
    margin-top: 15px;
    flex-direction: row;
  }

  .container .about-me .content .image img {
    max-height: 140px;
  }

  .container .about-me .content .text {
    width: auto;
  }
}
