body {
  display: grid;
  background-color: #fcfbfb;
  font-family: "Poppins", Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-top: 15px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0 0 20px 0;
}

ul {
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin: 0 10%;
  color: #3F3D56
}

.container header img {
  box-shadow: -5px 5px #3F3D56;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F7B64D;
  border-radius: 0px 0px 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;
}

.container header {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.container header .text-hello {
  width: 60%;
}

.container header .text-hello p {
  margin: 0;
}

.container header .text-hello .hello {
  font-size: 3.5em;
  color: #F7B64D;
}

.container header .text-hello .welcome {
  font-size: 1.5em;
}

.container header .name h1 {
  font-weight: 600;
  font-size: 6em;
  margin: 0;
  letter-spacing: 2px;
  line-height: 85px;
}

.container header .name h2 {
  text-align: initial;
  font-weight: 200;
  margin: 15px 0 0 0;
  font-size: 1.7em;
}

.container header .follow-me {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.container header .follow-me span {
  font-size: 1.2em;
}

.container header .follow-me svg {
  fill: #3F3D56;
}

.container header .follow-me .social-media {
  margin-left: 15px;
}

.container .about-me {
  border-top: 2px solid #F7B64D;
  border-bottom: 2px solid #F7B64D;
  border-radius: 15px;
}

.container .about-me h2 {
  margin: 0;
}

.container .about-me .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 15px;
}

.container .about-me .content .image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .about-me .content .image img {
  max-width: 200px;
  max-height: 170px;
  width: auto;
  height: auto;
  border: 2px solid #fcfbfb;
  border-radius: 50%;
}

.container .about-me .content .text {
  width: 70%;
  padding: 10px 30px;
  text-align: justify;
}

.container .opportunities {
  min-height: 100vh;
  margin-top: 30px;
}

.container .opportunities .card-experience {
  border: 1px solid #f6f6f6;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 0 10px 40px 10px;
  width: 34%;
}

.container .opportunities .card-experience svg {
  fill: #F7B64D;
  border-radius: 7px 0;
  padding: 5px;
  background-color: #fcfbfb;
}

.container .opportunities .card-experience:hover {
  background-color: #F7B64D;
  color: #fcfbfb;
}

.container .opportunities h3 {
  text-align: start;
  margin: 0;
  color: inherit;
}

.container .opportunities h3 strong {
  color: inherit;
}

.container .opportunities h4 {
  font-weight: 500;
  text-align: start;
  margin: 0;
  color: inherit;
}

.container .opportunities p {
  margin: 10px 0 0 0;
  color: inherit;
  font-weight: 300;
  font-size: 0.85em;
}

.container .opportunities .cards {
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
}

footer {
  background-color: #3F3D56;
  color: #fcfbfb;
  font-weight: 300;
}

footer .contacts {
  letter-spacing: 1px;
  margin-top: 40px;
  margin-left: 10%;
  font-size: 0.8em;
}

footer .contacts section {
  margin-bottom: 10px;
}

footer .contacts section,
footer .contacts section a {
  display: flex;
  justify-content: initial;
}

footer .contacts section svg {
  fill: #F7B64D;
  margin-right: 10px;
}

footer .copyright {
  font-size: 0.7em;
  margin: 40px 0 20px 0;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  h2 {
    font-size: 2em;
  }

  .container header {
    padding-bottom: 15px;
    min-height: calc(100vh - 15px);
  }

  .container header .name h1 {
    font-size: 5em;
    line-height: 75px;
  }

  .container header .name h2 {
    font-size: 1.4em;
  }

  .container .about-me .content {
    flex-direction: column;
  }

  .container .about-me .content .image {
    margin-top: 15px;
    flex-direction: row;
  }

  .container .about-me .content .image img {
    max-height: 140px;
  }

  .container .about-me .content .text {
    width: auto;
  }

  .container .opportunities .card-experience {
    width: 70%;
  }
}
